<?xml version="1.0"?>
<!--
	Licensed to the Apache Software Foundation (ASF) under one or more
	contributor license agreements.  See the NOTICE file distributed with
	this work for additional information regarding copyright ownership.
	The ASF licenses this file to You under the Apache License, Version 2.0
	(the "License"); you may not use this file except in compliance with
	the License.  You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<plugin id="feed" name="Feed Parse/Index/Query Plug-in" version="1.0.0"
	 provider-name="nutch.org">
    <runtime>
      <library name="feed.jar">
        <export name="*" />
      </library>
      <library name="rome-0.9.jar" />
      <library name="jdom-1.1.jar" />
    </runtime>
    
    <requires>
      <import plugin="nutch-extensionpoints" />
      <import plugin="lib-xml" />
    </requires>
    
    <extension id="org.apache.nutch.parse.feed" name="Feed Parser"
      point="org.apache.nutch.parse.Parser">
      
      <implementation id="org.apache.nutch.parse.feed.FeedParser"
         class="org.apache.nutch.parse.feed.FeedParser">
         <parameter name="contentType" value="application/rss+xml" />
         <parameter name="contentType" value="application/atom+xml" />
         <parameter name="contentType" value="text/xml" />
         <parameter name="pathSuffix" value="rss" />
     </implementation>
    </extension>
    <extension id="org.apache.nutch.indexer.feed" name="Feed Indexer"
       point="org.apache.nutch.indexer.IndexingFilter">
     <implementation id="FeedIndexingFilter"
       class="org.apache.nutch.indexer.feed.FeedIndexingFilter" />
    </extension>
</plugin>
